body,
p,
ol {
  margin: 0;
  padding: 0;
}

.App {
  padding: 30px;
}

.ToDoForm {
  padding: 40px;
  background-color: #231f20;
  color: #fff;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ToDoForm .submit-btn {
  border: none;
  border-radius: 30px;
  padding: 10px 30px;
  margin-top: 20px;
  font-weight: bolder;
}

.ToDoHome ol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ToDoItem {
  margin: 10px;
}

.ToDoItem.complete {
  text-decoration: line-through;
}

.ToDoItem.complete .task,
.ToDoItem.complete .due-date {
  opacity: 25%;
}

.ToDoItem .task {
  font-weight: bolder;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
}

.ToDoHome .priority-1 {
  background-color: #bb4430;
}
.ToDoHome .priority-2 {
  background-color: #d9aa1c;
}
.ToDoHome .priority-3 {
  background-color: #489299;
}

.error {
  color: #ff5335;
  font-style: oblique;
  margin: 5px 0 10px 0;
}
